{% extends 'base.html' %}

{% block title %}Home - Conji{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="header">Welcome to Conji!</h1>
        <p class="intro-text">Select a tool to get started:</p>
        <div class="button-group">
            <a href="{{ url_for('conjugation') }}" class="button">Conjugation Tool</a>
            <a href="{{ url_for('worksheet') }}" class="button">Worksheets</a>
            <a href="{{ url_for('practice') }}" class="button">Practice Questions</a>
            <a href="{{ url_for('lessons') }}" class="button">Tense Help</a>
        </div>
    </div>
{% endblock %}